.heading{

	text-align: center;
	margin: 20px 0px;
	color: white;
}
.products{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;
	padding: 40px;
}
.product-card{
	border-radius: 30px;
	flex: 1 1 300px;
	max-width: 300px;
}

.product-card img{
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.product-info{

	background-color: white;
	padding: 15px;
	flex-grow: 1;
	color: black;

}
.product-info button{
	background-color: orange;
	width: 100%;
    
}